@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  background: #242a33;
  font-family: 'Lato';
  font-weight: 300;
  font-size: 1em;
  color: #737373;
  padding: 3em 0 0 0;
}

.grid {
  display: block;
}
.grid .cube {
  -webkit-transition: -webkit-transform 0.33s;
  -moz-transition: -moz-transform 0.33s;
  transition: transform 0.33s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 100px;
  width: 30%;
  margin: 0 auto;
}
.grid .cube .item {
  background-color: #e6e6e6;
  height: 345px;
  width: 300px;
  border-radius: 5px;
  -webkit-transform: translateZ(172.5px);
  -moz-transform: translateZ(172.5px);
  -ms-transform: translateZ(172.5px);
  -o-transform: translateZ(172.5px);
  transform: translateZ(172.5px);
}
.grid .cube .done {
  background-color: #e6e6e6;
  height: 345px;
  width: 300px;
  -webkit-transform: rotateX(-90deg) translateZ(-172.5px);
  transform: rotateX(-90deg) translateZ(-172.5px);
  border-radius: 5px;
  border: 2px solid #242a33;
  overflow: hidden;
  position: relative;
}
.grid .cube .done #fill {
  position: absolute;
  width: 1%;
  height: 1%;
  top: 50%;
  left: 50%;
  background-color: #242a33;
  opacity: 0;
  border-radius: 50%;
}
.grid .cube .done #canvas {
  position: absolute;
}
.grid .cube .done .success {
  text-align: center;
  position: relative;
  z-index: 99;
  opacity: 0;
  margin: 0 auto;
  color: #fff;
  margin-top: 35px;
  font-size: 2em;
}
.grid .cube .done .success i {
  display: block;
  font-size: 200px;
}
.grid .cube .tabs {
  float: none;
  list-style: none;
}
.grid .cube .tabs li {
  width: 50%;
  float: left;
  display: block;
}
.grid .cube .tabs li:first-child label.nav {
  border-radius: 5px 0 0 0;
  border-right: 1px solid #bfbfbf;
}
.grid .cube .tabs li:last-child label.nav {
  border-radius: 0 5px 0 0;
}
.grid .cube .tabs input[type='radio'] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.grid .cube .tabs .nav {
  display: block;
  padding: 14px;
  font-weight: 300;
  background: #d8d8d8;
  cursor: pointer;
  position: relative;
  top: 0;
  border-bottom: 1px solid #bfbfbf;
  text-align: center;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.grid .cube .tabs .tab-content {
  margin-top: 45px;
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  line-height: 25px;
  padding: 25px;
  position: absolute;
  top: 0;
  left: 0;
}
.grid .cube .tabs .tab-content .frm {
  font-weight: 400;
  font-size: .8em;
}
.grid .cube .tabs .tab-content input[type='email'],
.grid .cube .tabs .tab-content input[type='password'],
.grid .cube .tabs .tab-content input[type='text'] {
  display: block;
  line-height: 25px;
  width: 90%;
  padding: 3px 10px 3px 10px;
  font-weight: 300;
  font-size: .8em;
  outline: none;
  box-sizing: content-box;
  border: 1px solid #d8d8d8;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.grid .cube .tabs .tab-content input[type='email']:focus,
.grid .cube .tabs .tab-content input[type='password']:focus,
.grid .cube .tabs .tab-content input[type='text']:focus {
  border: 1px solid #242a33;
}
.grid .cube .tabs .tab-content input {
  margin-bottom: 10px;
}
.grid .cube .tabs .tab-content #loginBtn {
  width: 100%;
  background-color: #888b90;
  padding: 12px;
  margin: 10px 0 10px 0;
  border: 0px solid #888b90;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  outline: none;
  font-size: 1em;
  font-weight: light;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.grid .cube .tabs .tab-content #loginBtn:hover {
  background-color: #242a33;
}
.grid .cube .tabs .tab-content span {
  display: block;
  width: 100%;
  text-align: center;
  font-size: .8em;
}
.grid .cube .tabs .tab-content span a, .grid .cube .tabs .tab-content span a:active, .grid .cube .tabs .tab-content span a:visited {
  color: #242a33;
}
.grid .cube .tabs [id^="tab"]:checked + label {
  z-index: 50;
  box-sizing: border-box;
  background-color: #e6e6e6;
  color: #242a33;
}
.grid .cube .tabs [id^="tab"]:checked + label:after, .grid .cube .tabs [id^="tab"]:checked + label:before {
  z-index: 50;
  content: "";
  position: absolute;
  border-style: solid;
  border-color: transparent;
  border-bottom: 0;
  border-width: 10px;
  left: 45%;
}
.grid .cube .tabs [id^="tab"]:checked + label:before {
  bottom: -11px;
  border-top-color: #bfbfbf;
  z-index: 60;
}
.grid .cube .tabs [id^="tab"]:checked + label:after {
  bottom: -9.5px;
  z-index: 65;
  border-top-color: #e6e6e6;
}
.grid .cube .tabs [id^="tab"]:checked ~ [class^="tab-content"] {
  display: block;
}

canvas {
  width: 300px;
  height: 345px;
  pointer-events: none;
  z-index: -1;
}

.animate {
  -webkit-animation: fadeOut 0.3s ease-in;
  -moz-animation: fadeOut 0.3s ease-in;
  animation: fadeOut 0.3s ease-in;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadeOut {
  from {
    left: 50%;
    top: 50%;
    width: 1%;
    height: 1%;
    opacity: 1;
  }
  to {
    left: -25%;
    top: -25%;
    width: 150%;
    height: 150%;
    opacity: 1;
  }
}
@-moz-keyframes fadeOut {
  from {
    left: 50%;
    top: 50%;
    width: 1%;
    height: 1%;
    opacity: 1;
  }
  to {
    left: -25%;
    top: -25%;
    width: 150%;
    height: 150%;
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    left: 50%;
    top: 50%;
    width: 1%;
    height: 1%;
    opacity: 1;
  }
  to {
    left: -25%;
    top: -25%;
    width: 150%;
    height: 150%;
    opacity: 1;
  }
}
